/*Google font*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
}

header, section{
    overflow-x: hidden;
}

.bg-light {
    background-color: transparent !important;
}

:root{
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2d2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
}

/* Links header */
header a{
    font-family: var(--Snigle-font);
    font-size: 0.9em;
    /*color: whitesmoke;*/
}

header{
    background: #dd2476;
    background: var(--bggradient);
}

/* ----- Menu Categorias ----- */
/* Dropdwon categorias */
.dropdown-content {
	display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover{
	background:  rgb(221, 36, 118, 0.25);
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* ###### Fim Menu Categorias ###### */


/* ============================ HEADER ============================ */
/* ----- Espaçamento após ultimo elemento ----- */
/* :last-child representa qualquer elemento que */
/* é o último filho de seu elemento pai.*/
/* o último item do menu -> "cadastre-se"*/
header .nav-item:last-child{
    padding-right: 10.5em;
}

/* ----- Espaçamento entre os item do menu ----- */
header .nav-item{
    padding: 0.9em;
}

/* ----- Espaçamento antes do primeiro elemento "item" ----- */
header .navbar-brand{
    padding-left: 8rem;
}

/* ----- Cor do item "livros" ----- */
header a.navbar-brand{
    color: white !important;
}

/* ----- Cor dos itens do menu ----- */
header a.nav-link{
    color: white !important;
}

header .nav-link:hover{
    color: black !important;
}

/* ----- Header - container text x image ----- */
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    color: white;
    /*font-family: var(--Snigle-font);*/
}
/* ###### Fim header container ###### */

/* ----- Header - size image ----- */
header .row .col-md-5 img{
    width: 90%;
}

/* ----- Header - container h6 ----- */
header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 3px;
}

/* ----- Header - container h1 ----- */
header .container .col-md-7 h1{
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em, 0em;
}

/* ----- Header - container p ----- */
header .container .col-md-7 p{
    padding: 2vmin 0.5vmin;
    text-align: justify;
}

/* ----- Header - container button ----- */
header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
}

/* ============================ SECTION 1 ============================ */

.section-1 {
	padding: 20vmin 0;
}

/* ----- Aplicando propriedades na imagem ----- */
.section-1 .row .col-md-6 .pray img{
	opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
	position: relative;
}

.section-1 .row .col-md-6 .panel{
	position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    /*text-align: left;*/
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgb(221, 36, 118, 0.25));
    /*font-family: var(--);*/
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1{
	font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
    text-align: justify;
}

/* ============================ SECTION 2 ============================ */
.cover{
	widows: 100%;
    height: 55vmin;
    background: url('../assets/pexels-photo-452738.jpeg');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
	background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content > h1{
	font-size: 6vmin;
    color: whitesmoke;
}

.cover .content > p{
	font-size: 2vmin;
    color: #e5e5e5;
}

/* ----- Numbers ----- */
.numbers {
	margin-top: -15vmin;
}

.numbers .rect {
	position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 15px 0px rgba(255, 0, 0, 0.349);
}

.numbers .rect h1{
    font-size: 5rem;
    color: tomato;
}

.numbers .rect p{
    font-weight: bold;
}

.purchase h1{
	padding-top: 10vmin;
    padding-bottom: 0.1em;

}

.purchase > p{
	color: var(--light-black);
    font-size: 2vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card{
	width: 22rem;
    margin: 3vmin;
}

.cards div{
    padding: 0;
    margin: 0;
}

.cards .card-title {
	background: rgba(208,2041,241,0.199);
    padding: 1.4rem 2.5rem;
    font-size: 3vmin;
}

.card .card-text {
	padding: 2.5rem 3rem;
    color: black;
}

.card-body .pricing {
	background: rgba(208,241,241,0.1);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing > h1{
	font-size: 10vmin;
    padding: 1em 0.5em;
}

/* ============================ SECTION 3 ============================ */
.section-3{
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12 > h1{
	padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12 > p{
	padding: 0 4em;
    padding-bottom: 2em;
    color: whitesmoke;
    font-size: 3vmin;
    text-align: justify;
}

.section-3 .desktop{
	background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3{
	font-size: 4vmin;
}

.section-3 .desktop p{
	font-size: 2vmin;
}

/* ============================ SECTION 4 ============================ */
.section-4 .container h1{
    font-size: 8vmin;
    padding-top: 14vmin;
}

.section-4 .container p{
    color: whitesmoke;
}

/* ----- Equipe ----- */
.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
	width: 18rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
	padding: 0.5em;
    text-align: justify
}

.section-4 .card .card-body>a {
	font-size: 1.5em;
    color: #ff512f !important;
}

/*
.section-4 .carousel-item{
	padding-left: 2rem;
}*/

/* ----- Bordar nas imagens das equipes ----- */
.border-radius{
    border-radius: 340px;
    width: 60%;
}

.rounded-circle{
    border-radius: 50% !important;
}

/* ============================ FOOTER ============================ */

footer{
    background: rgba(0,0,0,0.8);

    padding: 14vmin 18vmin;
}

footer p.text-muted{
    color: #969696!important;
}

footer p>span{
    color: #ff512f;
}

footer input{
    border: none !important;
}

footer input::placeholder{
    color: #969696 !important;
}

/* ----- button arrow ----- */
footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
    color: whitesmoke;
}

/* Icons Sociais */
footer .column i{
    border: none;
    color: #dd2476;
}

footer .column i +i{
    padding: 0 0.5em;
}